ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: left;
}

li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

a {
    background-color: #9b59b6;
    color: white;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #c0392b;
}

ul ul {
    position: absolute;
    left: 0px;
    top: 37px;
    width: 200px;
    display: none;
}

ul ul a {
    border-radius: 0px;
    background-color: #262626;
    border-bottom: 3px solid rgb(255, 0, 98);
}

ul ul a:hover {
    background-color: #0000ff;
}

ul li:hover ul {
    left: 0px;
    display: block;
}

ul.equal-width li:hover ul {
    left: 155px;
    top: 4px;
    display: block;
    z-index: 1;
}


/*div*/

.main {
    height: 800px;
    width: 800px;
    background-color: gray;
    margin: auto;
    position: relative;

}

.header {
    height: 200px;
    width: 800px;
    background-color: lightcoral;
    position: absolute;
    left: 0px;
    top: 0px;
}

.menu {
    height: 40px;
    width: 800px;
    background-color: #9b59b6;
    position: absolute;
    left: 0px;
    top: 200px;
    z-index: 1;
}

.main_container {
    height: 400px;
    width: 800px;
    background-color: lightskyblue;
    position: absolute;
    left: 0px;
    top: 237px;
}

.left_container {
    height: 400px;
    width: 200px;
    background-color: lightseagreen;
    position: absolute;
    left: 0px;
    top: 0px;
}

.middle_container {
    height: 400px;
    width: 360px;
    background-color: lightcoral;
    position: absolute;
    left: 200px;
    top: 0px;
    overflow: auto;
    padding: 20px;
}

.middle_container p {
    font-size: 20px;
    text-align: justify;
}

.right_container {
    height: 400px;
    width: 200px;
    background-color: lightgreen;
    position: absolute;
    left: 600px;
    top: 0px;
    text-align: center;
}

.footer {
    height: 163px;
    width: 800px;
    background-color: purple;
    position: absolute;
    left: 0px;
    top: 637px;
}

/*style*/

.monogram {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.equal-width li {
    width: 150px;
    /* Set your desired width */
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
}

.equal-width {
    margin-top: 8px;
    text-align: center;
}